$ae-paper-primary-color: #121212;
$ae-paper-secondary-color: #33ff66;
$ae-paper-highlight-color: #BBBBBB;
$ae-primary-serif: monospace;
$ae-text-block-height: 165px;

@import "ember-lxl/ember-lxl";
@import "affinity-engine";
@import "affinity-engine/base";
@import "affinity-engine/styles/block";
@import "affinity-engine/styles/caption";
@import "affinity-engine/styles/coastal";
@import "affinity-engine/styles/full";
@import "affinity-engine/styles/paper";
@import "affinity-engine/styles/transparent";
@import "affinity-engine/menu-bar";
@import "affinity-engine/stage";
@import "affinity-engine/stage/direction/image";
@import "affinity-engine/stage/direction/menu";
@import "affinity-engine/stage/direction/text";

a, a:visited {
  color: $ae-paper-highlight-color;
  cursor: pointer;
}

.liquid-engine {
  height: 100%;
  width: 100%;

  .liquid-child {
    height: 100% !important;
  }
}

.ember-sequencer {
  color: $ae-paper-secondary-color;
  font-family: monospace;
}

.true-center {
  height: 100%;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.made-by-affinity, .made-by-affinity:visited {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  color: $ae-paper-secondary-color;
  text-decoration: none;

  img {
    max-height: 68%;
  }

  i {
    font-size: 34vh;
  }
}

.et-curtain, .ae-curtain, .ember-progress-bar {
  height: 100%;
}

.engine-title {
  position: absolute;
  top: 38%;
  font-size: 200%;
  text-align: center;
  width: 100%;
  color: #fff;
}

.ember-progress-bar svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  margin-top: 1%;
  color: #fff;
}

.margin-top-1 {
  margin-top: 10px;
}

.margin-top-3 {
  margin-top: 30px;
}

.ae-menu.ae-block {
  max-height: 100%;
  border-width: $ae-menu-block-border-width;
  border-radius: $ae-menu-block-border-radius;

  .ember-flex-menu-option-button, .ember-flex-menu-option-input {
    width: $ae-menu-option-block-width;
    border-width: $ae-menu-option-block-border-width;
  }

  .ember-flex-menu-option-input-accept {
    border-width: $ae-menu-option-block-border-width;
    border-top-right-radius: $ae-menu-block-border-radius;
    border-bottom-right-radius: $ae-menu-block-border-radius;
    padding: 0 $ae-menu-option-input-accept-block-padding-sides;
    font-size: $ae-menu-option-input-accept-block-font-size;
  }
}

@media (min-width: map-get($breakpoints, small)) {
  .ae-text.ae-block {
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 35px;
  }

  .ae-menu.ae-block .ember-flex-menu-option-type {
    font-size: 20px;
    line-height: 35px;
    padding: 10px;
    margin: 7px 0;
  }
}
