{{#affinity-engine engineId="app" config=config fixtures=fixtures isFocused=true as |engine|}}
  {{#liquid-if (and engine.isLoaded sequencerComplete) class="liquid-engine"}}
    {{affinity-engine-stage engineId=engine.engineId initialScene="initial"}}
  {{else}}
    {{#affinity-engine-curtain engineId=engine.engineId filesToPreload=(hash keyframes="src" sounds="src") classNames="ae-full-size" as |curtain|}}
      {{#ember-sequencer
        animationAdapter="velocity"
        classNames="ae-full-size"
        frameDuration=1000
        animationIn=(hash duration=1000 easing="easeInSine" effect=(hash opacity=(array 1 0)))
        animationOut=(hash duration=1000 easing="easeOutSine" effect=(hash opacity=0))
        onComplete=(toggle-action "sequencerComplete" this)
      as |sequencer|}}
        {{#sequencer.frame
          frameDuration=2000
          animationIn=(hash duration=1250 easing="easeOutSine" effect=(hash opacity=(array 1 0) translateY=(array 0 300)))
        }}
          <div class="true-center">
            <h1>You are Not a Dinosaur</h1>
            <div>Words by <a href="https://twitter.com/_nullnullnull_" target="_blank">Patience Tema Baron</a></div>
            <div class="margin-top-1">Image by <a href="https://www.instagram.com/jettiallen/" target="_blank">Jetti Allen</a></div>
            <div class="margin-top-1">Song 'Spacewolf' by <a href="http://freemusicarchive.org/music/Matt_Oakley/" target="_blank">Matt Oakley</a></div>
          </div>
        {{/sequencer.frame}}
        {{#sequencer.frame}}
          <a href="https://github.com/null-null-null/you-are-not-a-dinosaur" target="_blank" class="made-by-affinity">
            <div class="true-center">
              {{fa-icon "creative-commons"}}
              <div class="margin-top-3">This game is under Creative Commons.</div>
              <div class="margin-top-1">(click here to fork)</div>
            </div>
          </a>
        {{/sequencer.frame}}
        {{#sequencer.frame}}
          <a href="http://www.affinityengine.org" target="_blank" class="made-by-affinity">
            <div class="true-center">
              <img src="affinity-engine-logo.png">
            </div>
          </a>
        {{/sequencer.frame}}
        {{#sequencer.frame frameDuration=500 as |frame|}}
          {{ember-progress-bar
            progress=curtain.progress
            useDefaultStep=true
            options=progressBarOptions
          }}
          {{#if frame.isVisible}}
            {{#ember-sequencer
              frameDuration=4000
              animationAdapter="velocity"
              animationIn=(hash duration=1000 effect=(hash opacity=(array 1 0)))
              animationOut=(hash duration=1000 effect=(hash opacity=0))
              classNames="ae-full-size"
            as |sub-sequencer|}}
              {{#sub-sequencer.frame frameDuration=2000}}
                <div class="true-center">
                  <div>Dinosaurs walked the Earth 65 million years ago.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div>Some scientists claim that dinosaurs had brains the sizes of walnuts (but you shouldn't believe everything you hear).</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div><a href="https://en.wikipedia.org/wiki/Dinosaur_intelligence">This Wikipedia article</a> ends with three long paragraphs describing a speculative dinosaur that could match human intellegence.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame frameDuration=1500}}
                <div class="true-center">
                  <div>I love the internet.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div>When I was a kid, I loved dinosaurs too. I would mold cheese wax into horns and pretend I was a triceratops.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div>In case you're not sure what a triceratops is, think of Cera from <em>The Land Before Time</em>.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame frameDuration=6000}}
                <div class="true-center">
                  <div>I'm not sure why I was so obsessed with dinosaurs. Maybe it was just that they were something adults agreed were real, but that I never could actually see.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame frameDuration=2000}}
                <div class="true-center">
                  <div>They were something I could only imagine.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div>And so, I imagined something awesome. To a lot of kids today, dinosaurs must still be awesome.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame frameDuration=3000}}
                <div class="true-center">
                  <div>To me though, they're just dead.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div>Remember, you are not a dinosaur. You are not a mammalian variant of dinosaur. You are a human being.</div>
                </div>
              {{/sub-sequencer.frame}}
            {{/ember-sequencer}}
          {{/if}}
        {{/sequencer.frame}}
      {{/ember-sequencer}}
    {{/affinity-engine-curtain}}
  {{/liquid-if}}
{{/affinity-engine}}
